<app-header></app-header>
<mat-tab-group>
  <mat-tab label="Agregar Archivos" class="custom-tab">
    <app-data-register></app-data-register>
  </mat-tab>
  <mat-tab label="Ingeniería de Sistemas y Computación">
    <app-systems-engineer></app-systems-engineer>
  </mat-tab>
  <mat-tab label="Ingeniería Electrónica">
    <app-electronic-engineer></app-electronic-engineer>
  </mat-tab>
  <mat-tab label="Docentes">
    <app-teachers></app-teachers>
  </mat-tab>
  <mat-tab label="Por revisar">
    <app-others></app-others>
  </mat-tab>
</mat-tab-group>

